.form {
  border-radius: 12px;
  inline-size: 556px;
  background-color: var(--card-input-color);
  padding: 50px 60px;
}

.inputList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin-block-end: 32px;
}

.buttonList {
  display: flex;
  gap: 20px;
  inline-size: 100%;
}

.button {
  inline-size: calc((100% - 20px) / 2);
}
