.imageContainer {
  position: relative;
}

.imageCover {
  position: absolute;
  background-color: rgb(255 255 255 / 50%);
  display: flex;
  align-items: center;
  width: 92px;
  height: 92px;
}

.imageContainer p {
  width: 100%;
  text-align: center;
}

.image {
  width: 92px;
  height: 92px;
}
