.form {
  display: flex;
  flex-direction: column;
  max-width: 556px;
  padding: 40px 60px;
  border-radius: 12px;
  background-color: var(--card-input-color);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.dateWrapper {
  display: flex;
  gap: 24px;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}

.nextButton,
.backButton {
  width: 100%;
  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 400;
}
