.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 36px auto;
  padding: 0 36px;
  gap: 32px;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}