.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-weight: 400;
  font-family: var(--font-main);
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.textareaContainer {
  position: relative;
}

.textarea {
  width: 100%;
  min-height: 96px;
  padding: 12px 20px;
  padding-right: 54px;
  border: 1px solid var(--caption-color);
  outline: none;
  border-radius: 12px;
  resize: none;
  overflow: hidden;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5em;
}

.error {
  border-color: var(--error-color);
}

.errorText {
  color: var(--error-color);
  font-size: 12px;
}

.infoText {
  color: var(--text-color);
  font-size: 12px;
  font-family: var(--font-main);
}

.iconWrapper {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
