@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-main: 'Roboto', sans-serif;
  --font-heading: 'Jost', sans-serif;
  --caption-font-size: 12px;
  --caption-font-line-height: 1.33;
  --text-color: #253017;
  --caption-color: #69735d;
  --disabled-text-color: #9ca197;
  --toggle-color: #b2b9a9;
  --disabled-color: #e4e8df;
  --card-input-color: #fff;
  --text-link-button-pressed-color: #508826;
  --accent-color: #abd27a;
  --button-hover-color: #deebc5;
  --background-color: #f9faf7;
  --alarm-color: #e0796e;
  --error-color: #bf3920;
  --tag-business-color: #eee7f7;
  --tag-creativity-color: #f7e7f2;
  --tag-languages-color: #ebe5c5;
  --tag-education-color: #e7f2f6;
  --tag-home-color: #f7ebe5;
  --tag-health-color: #e9f7e7;
  --tag-plus-color: #e8ecf7;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 1440px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.11em;
}

h2 {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: -0.11em;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.11em;
}

h4 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
