.legend {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.radio {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.radio input[type="radio"] {
  display: none;
}

.radio::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../images/radio1.svg);
}

.radio:has(input[type="radio"]:checked)::before {
  background: url(../../images/radio2.svg);
}

.checkbox {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../../images/checkbox-empty.svg);
  flex-shrink: 0;
}

.checkbox:has(input[type="checkbox"]:checked)::before {
  background: url(../../../images/checkbox-done.svg);
}

.button {
  width: 24px;
  height: 24px;
}

.content {
  margin: 0 0 12px 32px;
  display: block;
}

.category {
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.chevron {
  margin-left: auto;
}